# Cafe Sales Data Cleaning

**Goal:** Clean and prepare raw cafe POS data for downstream profitability and sales behavior analysis.  
**Data:** Raw transaction dataset with missing values, duplicates, and inconsistent categories.  

**Steps:**
1) Load raw dataset  
2) Inspect data (shape, schema, missing values)  
3) Clean invalid and missing values 
4) Standardize data types (dates, numeric fields, categoricals)  
5) Business-rule repairs & quality checks 
6) Final Validation & Export

In [1]:
import pandas as pd
import numpy as np

## Step 1: Load raw dataset
*Purpose:* Read source CSV and set basic options (encoding, dtypes).

In [ ]:
df=pd.read_csv('datasets/raw_cafe_sales.csv')

## Step 2: Inspect data
*Purpose:* Understand dataset size, schema, and missing values before applying cleaning operations.

In [3]:
# Inspect dataset dimensions
print("Shape:", df.shape)

# Preview sample rows
df.head(10)

# Check schema and dtypes
df.info()

# Check missing values by column
df.isna().sum()

Shape: (10000, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

✅ Inspection results:
- Shape: 10000 rows × 8 columns  
- Columns: `Transaction ID`, `Item`, `Quantity`, `Price Per Unit`, `Total Spent`, `Payment Method`, `Location`, `Transaction Date`
- Notable missing values:
    - Item:                 333
    - Quantity:             138
    - Price Per Unit:       179
    - Total Spent:          173
    - Payment Method:      2579
    - Location:            3265
    - Transaction Date:     159
- The schema includes **numeric**, **categorical**, and **datetime** fields, but they are all represented as **objects**.

## Step 3: Clean invalid and missing values
*Purpose:* Remove duplicates, convert placeholder errors to NaN, and assess missing data.

In [4]:
# remove duplicates if any
df.drop_duplicates(keep='first', inplace=True)

# Replace all 'ERROR' and 'UNKNOWN' across the entire DataFrame to nan
df = df.replace(['ERROR', 'UNKNOWN'], np.nan)

# Check missing values again
df.isna().sum()

Transaction ID         0
Item                 969
Quantity             479
Price Per Unit       533
Total Spent          502
Payment Method      3178
Location            3961
Transaction Date     460
dtype: int64

✅ Cleaning done:
- Removed duplicates (if any).  
- Standardized placeholder values ('ERROR', 'UNKNOWN') as NaN.  
- Missing value counts **increased** because invalid entries were converted to NaN — this is expected and ensures data integrity.

## Step 4: Standardize data types
*Purpose:* Convert columns to appropriate data types for reliable calculations and analysis.

In [5]:
# Clean categorical columns: strip whitespace if any
for col in ['Item', 'Payment Method', 'Location']:
    df[col] = df[col].str.strip()

# Convert numeric columns
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')
df[['Price Per Unit', 'Total Spent']] = df[['Price Per Unit', 'Total Spent']].astype('float64')

# Convert date column
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

# Check schema
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9031 non-null   object
 2   Quantity          9521 non-null   float64
 3   Price Per Unit    9467 non-null   float64
 4   Total Spent       9498 non-null   float64
 5   Payment Method    6822 non-null   object
 6   Location          6039 non-null   object
 7   Transaction Date  9540 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 703.1+ KB

✅ Data types standardized:
- Stripped whitespace in categorical fields (`Item`, `Payment Method`, `Location`).  
- `Quantity` converted to **integer**, `Price Per Unit` and `Total Spent` to **float**.  
- `Transaction Date` parsed as **datetime**.

## Step 5: Business-rule repairs & quality checks
*Purpose:* Column-by-column fixes based on simple domain rules: review categories, impute missing values from empirical distributions, and infer `Item` from unit price when possible.

### 5.1: Typo checks for **categorical** columns
Quick review on categorical columns (`Item`,`Payment Method`, and `Location`) to catch spelling/case/whitespace issues before any imputation or inference.  
**Review only**. No modification here.

In [6]:
# check 'Item', 'Payment Method', and 'Location' for misspelling
df['Item'].value_counts()

Juice       1171
Coffee      1165
Salad       1148
Cake        1139
Sandwich    1131
Smoothie    1096
Cookie      1092
Tea         1089
Name: Item, dtype: int64

In [7]:
df['Payment Method'].value_counts()

Digital Wallet    2291
Credit Card       2273
Cash              2258
Name: Payment Method, dtype: int64

In [8]:
df['Location'].value_counts()

Takeaway    3022
In-store    3017
Name: Location, dtype: int64

✅ Observation: No obvious typos found in `Item`, `Payment Method` and `Location`.

### 5.2 Filling `Item` — infer from `Price Per Unit`
If unit price uniquely identifies an item, fill missing `Item` using a price → item mapping.

In [9]:
# Check price spread per item to catch mislabeled entries 
# and for next step of inferring missing 'Item'
df.groupby('Item')['Price Per Unit'].unique()

Item
Cake        [3.0, nan]
Coffee      [2.0, nan]
Cookie      [1.0, nan]
Juice       [3.0, nan]
Salad       [5.0, nan]
Sandwich    [4.0, nan]
Smoothie    [4.0, nan]
Tea         [1.5, nan]
Name: Price Per Unit, dtype: object

In [10]:
# Create a mapping from unique prices to corresponding products
price_to_item = {
    1.0: 'Cookie',
    1.5: 'Tea',
    2.0: 'Coffee',
    5.0: 'Salad'
}

# fill in the 'Item' value
mask = df['Item'].isna() & df['Price Per Unit'].isin(price_to_item.keys())
df.loc[mask, 'Item'] = df.loc[mask, 'Price Per Unit'].map(price_to_item)

# check how much been filled
df['Item'].value_counts()

Coffee      1284
Salad       1270
Cookie      1209
Tea         1199
Juice       1171
Cake        1139
Sandwich    1131
Smoothie    1096
Name: Item, dtype: int64

✅ `Item` column filled where unit price provided a unique mapping. Remaining nulls will be filled in the following steps.

### 5.3 Filling `Quantity`, `Price Per Unit`, and `Total Spent`
The counts of missing values in these three columns differ.  
When two values are present, the third can be derived to complete the record.

In [11]:
# Fill Total Spent = Quantity * Price Per Unit
mask_ts = df['Total Spent'].isna() & df['Quantity'].notna() & df['Price Per Unit'].notna()
df.loc[mask_ts, 'Total Spent'] = (df.loc[mask_ts, 'Quantity'] * df.loc[mask_ts, 'Price Per Unit']).round(2)

In [12]:
# Fill Quantity = Total Spent / Price Per Unit
mask_q = df['Quantity'].isna() & df['Total Spent'].notna() & df['Price Per Unit'].notna()
df.loc[mask_q, 'Quantity'] = (df.loc[mask_q, 'Total Spent'] / df.loc[mask_q, 'Price Per Unit']).round()
# Keep nullable integer for missing-friendly arithmetic
df['Quantity'] = df['Quantity'].astype('Int64')

In [13]:
# Fill Price Per Unit = Total Spent / Quantity
mask_ppu = df['Price Per Unit'].isna() & df['Total Spent'].notna() & df['Quantity'].notna()
df.loc[mask_ppu, 'Price Per Unit'] = (df.loc[mask_ppu, 'Total Spent'] / df.loc[mask_ppu, 'Quantity']).round(2)

# Quick check after the trio fill
df[['Item','Quantity','Price Per Unit','Total Spent']].isna().sum()

Item              501
Quantity           38
Price Per Unit     38
Total Spent        40
dtype: int64

In [14]:
# price -> most common item mapping
def mode_or_nan(s):
    m = s.dropna().mode()
    return m.iloc[0] if len(m) else np.nan

price_to_item = df.groupby('Price Per Unit')['Item'].apply(mode_or_nan)

mask_item = df['Item'].isna() & df['Price Per Unit'].notna()
filled_before = int(df['Item'].isna().sum())
df.loc[mask_item, 'Item'] = df.loc[mask_item, 'Price Per Unit'].map(price_to_item)
filled_after = int(df['Item'].isna().sum())
print(f"Item filled from price: {filled_before - filled_after}")

Item filled from price: 495

In [15]:
# Set the remaining unidentified items to 'UNKNOWN' since they cannot be determined. 
df['Item'] = df['Item'].fillna('UNKNOWN')

# Drop rows with missing values in these columns, as only a small number remain.
df.dropna(subset=['Quantity','Price Per Unit','Total Spent'], inplace=True)

✅ Filling complete:
- Completed `Quantity`, `Price Per Unit`, and `Total Spent` using mutual derivation (triangle relationship).  
- Imputed `Item` values from price→item mapping (495 rows filled).  
- Assigned **UNKNOWN** to remaining items and dropped unrecoverable rows.

### 5.4 Filling `Payment Method`
Impute missing values by sampling from the observed distribution to preserve class proportions.

In [16]:
print("Before filling:\n", df['Payment Method'].value_counts(dropna=False))

# Distribution of observed categories
pm_dist = df['Payment Method'].value_counts(normalize=True, dropna=True)

# Mask missing
mask_pm = df['Payment Method'].isna()

# Fill missing by sampling
rng = np.random.default_rng(42)
df.loc[mask_pm, 'Payment Method'] = rng.choice(
    pm_dist.index,
    size=mask_pm.sum(),
    p=pm_dist.values
)

print("\n===========================\n")
print("After filling:\n", df['Payment Method'].value_counts())

Before filling:
 NaN               3158
Digital Wallet    2280
Credit Card       2260
Cash              2244
Name: Payment Method, dtype: int64

===========================

After filling:
 Digital Wallet    3357
Credit Card       3303
Cash              3282
Name: Payment Method, dtype: int64

✅ Filling `Payment Method` completed:  
- 3,178 missing values were filled using random sampling from the observed distribution.  
- Final counts are balanced across methods: **Digital Wallet (3,374)**, **Credit Card (3,319)**, **Cash (3,307)**.

### 5.5 Filling `Location`
Impute missing locations using the empirical distribution so the branch mix is preserved.

In [17]:
print("Before filling:\n", df['Location'].value_counts(dropna=False))

# Distribution of observed categories
loc_dist = df['Location'].value_counts(normalize=True, dropna=True)

# Mask missing
mask_loc = df['Location'].isna()

# Fill missing by sampling
rng = np.random.default_rng(42)
df.loc[mask_loc, 'Location'] = rng.choice(
    loc_dist.index,
    size=mask_loc.sum(),
    p=loc_dist.values
)

print("\n===========================\n")
print("After filling:\n", df['Location'].value_counts())

Before filling:
 NaN         3940
Takeaway    3004
In-store    2998
Name: Location, dtype: int64

===========================

After filling:
 Takeaway    4985
In-store    4957
Name: Location, dtype: int64

✅ Filling `Location` completed:  
- 3,961 missing values were imputed using random sampling from the observed distribution.  
- Final counts are balanced across categories: **Takeaway (5,015)**, **In-store (4,985)**.

### 5.6 Handling `Transaction Date`
Standardize the transaction date column for temporal analysis (`NaT` for invalid values).

In [18]:
# Ensure datetime (in case earlier steps introduced strings)
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

# Fill missing Transaction Date with 'UNKNOWN'
df['Transaction Date'] = df['Transaction Date'].fillna('UNKNOWN')

# Quick check
print("Missing — Transaction Date:", int(df['Transaction Date'].isna().sum()))

Missing — Transaction Date: 0

✅ Transaction Date cleaned:
- Parsed into proper `datetime` format (invalid entries coerced to NaT).  
- Extracted `Year`, `Month`, `Day` as numeric fields for grouping and analysis.  
- Remaining nulls filled with `"UNKNOWN"`, ensuring no missing values.  

This keeps both a usable datetime column and structured components for flexible analysis.

## Step 6: Final Validation & Export

*Purpose:* Verify the integrity of the cleaned dataset and prepare it for downstream analysis.

- Checked final dataset shape (rows × columns).  
- Confirmed that no missing values remain.  
- Validated standardized data types across all fields.  
- Reviewed summary statistics to ensure data consistency.  
- Exported the cleansed dataset (`cleansed_cafe_sales.csv`) for profitability and sales behavior analysis.

In [19]:
# Check final dataset shape (rows × columns)
df.shape

(9942, 8)

In [20]:
# Verify no missing values remain
df.isna().sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [21]:
# Confirm data types are standardized
df.dtypes

Transaction ID       object
Item                 object
Quantity              Int64
Price Per Unit      float64
Total Spent         float64
Payment Method       object
Location             object
Transaction Date     object
dtype: object

In [22]:
# Review summary statistics for all columns
df.describe(include='all')

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,9942,9942,9942.000000,9942.000000,9942.000000,9942,9942,9942
unique,9942,8,NaN,NaN,NaN,3,2,366
top,TXN_1961373,Juice,NaN,NaN,NaN,Digital Wallet,Takeaway,UNKNOWN
freq,1,1414,NaN,NaN,NaN,3357,4985,457
mean,NaN,NaN,3.025749,2.947848,8.931855,NaN,NaN,NaN
std,NaN,NaN,1.420438,1.279897,6.002356,NaN,NaN,NaN
min,NaN,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN
25%,NaN,NaN,2.000000,2.000000,4.000000,NaN,NaN,NaN
50%,NaN,NaN,3.000000,3.000000,8.000000,NaN,NaN,NaN
75%,NaN,NaN,4.000000,4.000000,12.000000,NaN,NaN,NaN
max,NaN,NaN,5.000000,5.000000,25.000000,NaN,NaN,NaN

✅ The dataset is now fully prepared for further analytical modeling and reporting.

In [23]:
# Save the cleaned dataset for further analysis
df.to_csv('cleansed_cafe_sales.csv', index=False)

## Final Notes

The cleaned dataset (`cleansed_cafe_sales.csv`) is now ready for profitability and sales behavior analysis.  
Key improvements include:

- Removed duplicates and handled missing values.  
- Standardized data types and categorical fields.  
- Imputed critical fields (`Quantity`, `Price Per Unit`, `Total Spent`, `Item`, `Payment Method`, `Location`, `Transaction Date`).  
- Added derived features such as `Year`, `Month`, and `Day` for temporal analysis.  
- Verified final dataset shape, dtypes, and summary statistics.  
- Exported the cleansed dataset for downstream use.